<!DOCTYPE html>
<html lang='ru'>
<head>
    <link rel='icon' type='image/svg+xml' sizes='any' href='../../st/Favicon_as.svg'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %> - Автосеть.РФ</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='robots' content='noindex'>

    <!-- Begin Online-Chat {literal} -->
    <script>
        (function(){(function c(d,w,m,i) {
            window.supportAPIMethod = m;
            var s = d.createElement('script');
            s.id = 'supportScript';
            s.async = true;
            var id = '70b8d695ca5365b9a255207656f5496b';
            s.src = (!i ? 'https://zcdn.ru/support/support.js' : 'https://static.site-chat.me/support/support.int.js') + '?h=' + id;
            s.onerror = i ? undefined : function(){c(d,w,m,true)};
            w[m] = w[m] ? w[m] : function(){(w[m].q = w[m].q ? w[m].q : []).push(arguments);};
            (d.head ? d.head : d.body).appendChild(s);
        })(document,window,'OnlineChat')})();
    </script>

    <script type="module" crossorigin src="../../assets/<%- js1 %>"></script>
    <script type="module" crossorigin src="../../assets/<%- js2 %>"></script>
    <script type="module" crossorigin src="../../assets/<%- js3 %>"></script>
    <link rel="stylesheet" crossorigin href="../../assets/<%- css1 %>">
    <link rel="stylesheet" crossorigin href="../../assets/<%- css2 %>">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=105269241', 'ym');

    ym(105269241, 'init', {ssr:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/105269241" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class='header'>
    <div class='header__container'>
        <div class='header__logo'>
            <a href='/'>
                <img class='header__logo-image' src='../../st/logo_20.svg' alt='logo' loading='lazy'>
            </a>
        </div>
        <nav class='header__nav'>
            <a class='header__nav-a' href='/news/' >Статьи</a>
            <!--      <a class='header__nav-a menunews' href='/news/' >Статьи</a>-->
            <a class='header__nav-a' href='/cars/'>Купить</a>
            <a class='header__nav-a' href='/services/vykup/'>Продать</a>
            <!--      <a class='header__nav-a' href='/tyres/'>Каталог шин</a>-->
        </nav>
        <div class='header__select'>
            <div class='comb'>
                <div class='comb_field'>
                    <span class='comb__selected'>Россия</span>
                    <img src='../../st/svg/arrow-down.svg' alt='arrow' loading='lazy' width='10' height='18'>
                </div>
                <div class='comb__items'></div>
            </div>    </div>
        <div class='header__buttons'>
            <div class='butt'>
                <a class='button_red button__callback global-call' title='Заказать звонок'><span>Заказать звонок</span></a>
                <a href='tel:88005001156' class='button_red button__call' title='Позвонить'></a>
                <a class='button__burger'></a>
            </div>
        </div>
    </div>
    <div class='head_div'></div>
</div>


<div class='main-nav menu'>
    <div class='main-nav_bondazh'></div>
    <div class='container'>
        <div class='main-nav__wrapper'>
            <nav class='main-nav__nav' style='margin-top: 100px'>
                <div class='main-nav__nav-item'>
                    <a href='/cars/'>Купить</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/services/vykup/'>Продать</a>
                </div>
                <!--        <div class='main-nav__nav-item'>-->
                <!--          <a href='/tyres/'>Каталог шин</a>-->
                <!--        </div>-->
                <div class='main-nav__nav-item'>
                    <a href='/services/autopodbor/'>Автоподбор</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/contacts/'>Контакты</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/promo/'>Акции</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/franshiza/'>Партнерам</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/about-the-company/'>О компании</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/news/'>Статьи</a>
                </div>
                <div class='main-nav__nav-item'>
                    <a href='/work-in-autosite/'>Вакансии</a>
                </div>
                <div class='main-nav__nav-item_little'>
                    <a class='item_little_big' href='/services/'>Услуги</a>
                    <a href='https://xn--80aaagleb8dfwikd4l.xn--p1ai/'>Аренда авто</a>
                    <a href='/services/crediting/'>Автокредитование</a>
                    <a href='/services/insurance/'>Страхование</a>
                    <a href='/services/shinnyy-сentr/'>Шинный центр</a>
                    <a href='/services/tehnicheskiy-osmotr/'>Техосмотр</a>
                    <a href='/services/servisnoe-obsluzhivanie/'>Сервисное обслуживание</a>
                    <a href='/services/remont-dvigatel/'>Ремонт двигателя</a>
                    <a href='/services/remont-akpp/'>Ремонт АКПП</a>
                    <a href='/services/zamena-masla/'>Замена масла</a>
                    <!--          <a href='/services/remont-electric/'>Ремонт автоэлектрики</a>-->
                </div>
            </nav>

            <div class='main-nav__contacts'>
                <div class='main-nav__contacts-item'>
                    <a class='main-nav__contacts-link_phone' href='tel:88005001156'>
                        <div class='button_red button__call main-nav__menu'></div>
                        8-800-500-11-56
                    </a>
                </div>

                <div class='main-nav__contacts-item'>
                    <a class='main-nav__contacts-link_email' href='mailto:avtoset@gmail.com'>
                        <div class='button_red button__mail main-nav__menu'></div>
                        avtoset@gmail.com
                    </a>
                </div>

                <div class='main-nav__contacts-item' style='padding: 0 30px'>
                    <span>Подписывайтесь на нас</span>
                    <a class='main-nav__contacts-link_vk'
                       href='//m.sitehelp.me/vkGroup?siteId=j2ewly664h33pwnloy11em6fx4gj4i6v&amp;clientId=u05rHq9qgow2rrl7Uwx0B55SmnikIKaZ&amp;url=https%3A%2F%2Fvk.com%2Favtoset_rf'>
                        <a class='button__vk'></a>
                    </a>
                    <a class='main-nav__contacts-link_youtube' href='//www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ'>
                        <a class='button__youtube'></a>
                    </a>
                    <a href='https://t.me/autoset_kzn' target='_blank'>
                        <img src='../../st/svg/telegram-icon.svg' style="width: 28px" alt='Телеграм'>
                    </a>
                    <a href='https://max.ru/join/eN8z5IrxSfBa8qbj8KwgFxTUaVZzBO4r3DPpdmO2KFQ' target='_blank'>
                        <img src='../../st/svg/max.svg' style="padding: 5px; width: 28px" alt='max'>
                    </a>
                </div>
            </div>

            <div class='main-nav__info'>
                <div class='main-nav__info-block'>
                    <div class='main-nav__info-text'>Все права защищены © 2004-2026 Автосеть.рф</div>
                    <div class='main-nav__info-text'>
                        Сайт разработан <a href='#'>MORSEL web studio</a>
                    </div>
                </div>

                <div class='main-nav__info-block'>
                    <div class='main-nav__info-text'>ООО 'Форум'</div>
                    <div class='main-nav__info-text'>ИНН 1657138550</div>
                </div>

                <div class='main-nav__info-block'>
                    <div class='main-nav__info-text'>
                        <a href='/privacy-policy/'>Политика конфиденциальности</a>
                    </div>
                    <div class='main-nav__info-text'>Сайт является средством массовой информации</div>
                </div>
            </div>
        </div>
    </div>
</div><main>

    <br><br>
    <div class='container' style='padding: 40px 0 0; text-align: center'>
        <h2><%= title %></h2>
    </div>



    <br><br>

    <div class='container'>
        <h2>Перейти на <a href="/promo"> Все  акции</a></h2>
    </div>

    <br><br>



    <div class='container'>
        <h2>Другие акции</h2>
    </div>

    <div class='container promo-photos'></div>
</main>

<footer class='footer'>
    <div class='footer__top'>
        <div class='page__wrap'>
            <div class='page__flex'>
                <div class='box_1'>
                    <div class='footer-city-button'>
                    </div>
                    <div class='phone'>
                    </div>
                    <div id='addr_foot'>

                    </div>
                    <div class='footer__subscription'>
                        Подписывайтесь на нас
                        <div class='social'>
                            <a href='https://www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ' target='_blank'>
                                <div class='youtube2'></div>
                            </a>
                            <a href='https://vk.com/avtoset_rf' target='_blank'>
                                <div class='vk2'></div>
                            </a>
                            <a href='https://t.me/autoset_kzn' target='_blank'>
                                <img src='../../st/svg/telegram-icon.svg' style="padding-top: 5px" alt='Телеграм'>
                            </a>
                            <a href='https://max.ru/join/eN8z5IrxSfBa8qbj8KwgFxTUaVZzBO4r3DPpdmO2KFQ' target='_blank'>
                                <img src='../../st/svg/max.svg' style="padding: 5px 18px" alt='max'>
                            </a>
                        </div>
                    </div>
                </div>
                <div class='box_2'>
                    <a href='/about-the-company/'>О компании</a>
                    <a href='/franshiza/'>Партнерам</a>
                    <a href='/landlords/'>Арендодателям</a>
                    <a href='/work-in-autosite/'>Вакансии</a>
                    <a href='/contacts/'>Контакты</a>
                    <a href='/privacy-policy/agreement.html'>Согласие на рекламную коммуникацию</a>
                    <a href='/privacy-policy/'>Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>

    <div class='footer__bottom'>
        <div class='page__flex'>
            <div>
                ©&nbsp;2004-2026; Автосеть.рф
            </div>
            <div>
                ООО "Форум" <br>ИНН 1657138550
            </div>
            <div>
                Сайт является средством массовой информации <br>
                <a href='/privacy-policy/'>Политика конфиденциальности</a>
            </div>
        </div>
    </div>

    <div class='fix__foot'>
        <div class='fix__flex'>
            <div class='fix__foot--box'>
                <a href='/news/'>
                    <img src='../../st/icons/volvo.png' alt="">
                    <span class='text'>
          Статьи
        </span>
                </a>
            </div>

            <div class='fix__foot--box'>
                <a href='/cars/#vitrina_name'>
                    <div class='fix__foot_img car'></div>
                    <span class='text'>
          Каталог
        </span>
                </a>
            </div>
            <!--    <div class='fix__foot--box'>-->
            <!--      <a href='/personal/favorite-cars/'>-->
            <!--        <div class='fix__foot_img zvezda'></div>-->
            <!--        <span class='text'>-->
            <!--          Сохраненные-->
            <!--        </span>-->
            <!--      </a>-->
            <!--    </div>-->
            <div class='fix__foot--box'>
                <a href='https://telegram.me/Autoset_RF_bot' target='_blank'>
                    <div class='fix__foot_img comment'></div>
                    <span class='text'>
          Telegram
        </span>
                </a>
            </div>
            <div class='fix__foot--box'>
                <a href='/contacts/'>
                    <div class='fix__foot_img adress'></div>
                    <span class='text'>
          Адреса
        </span>
                </a>
            </div>
        </div>
    </div></footer>

<div class='main-nav cities'>
    <div class='modal-place__indent'>
        <div class='modal-place__container--top'>
            <div class='page__flex'>
                <div class='title'>
                    Выберите ваш город
                </div>
                <a class='modal-place__close'></a>
            </div>
        </div>
        <div class='modal-place__container--bottom'>
            <div class='modal-place__search'>
                <div class='form__modal-place'>
                    <div class='form__modal-place--group'>
                        <input type='text' placeholder='Название города'>
                    </div>
                </div>
            </div>
            <div id='innerCity'></div>
        </div>
    </div>

</div><div class='main-nav rightpanel'>
    <div id='closer-fon'></div>
    <div class='right'>
        <span class='modal-closer form'>✖</span>

        <div class='container' id='right_panel_content'></div>
    </div>
</div><div id="cookie-banner">
    <p>
        Мы используем Cookies, в том числе с использованием сервиса веб-аналитики "Яндекс.Метрика". Продолжая использовать
        наш сайт, вы даете согласие обработку данных Cookies, в том числе с использованием сервиса веб-аналитики
        "Яндекс.Метрика" в соответствии с
        <a href="/privacy-policy/" target="_blank">Политикой конфиденциальности</a>.
    </p>
    <button id="cookie-accept">Прекрасно</button>
</div><div class="attention">
    <div id="favoriteCount" class="question favorite" title="Выбранные автомобили"
         onclick="location.href='/personal/favorite-cars/'"></div>

    <div id="compareCount" class="question compare" title="Сравнить автомобили"
         onclick="location.href='/personal/list-compared/'"></div>
</div>

<div class='map-modal' onclick='openMap(false)'>
    <img class='closer' src='../../st/close.webp' alt='закрыть'>
    <div class='map' style='width: 90%'> карта от яндекса </div>
</div>





</body>
</html>
